<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<ul class="players">
  <% @players.each do |player| %>
    <li>
      <%= gravatar_for player, size: 50 %>
      <%= link_to player.first_name, player %>
      <%= link_to player.last_name, player %>
    </li>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Avatar</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr class="players">
        <td><%= gravatar_for player, size: 50 %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.avatar %></td>
        <td><%= player.email %></td>
        
	<td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
