<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br>
    <%= f.time_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :player1_id %><br>
    <%= f.number_field :player1_id %>
  </div>
  <div class="field">
    <%= f.label :player2_id %><br>
    <%= f.number_field :player2_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
