<%provide(:title, "Matches") %>
<p id="notice"><%= notice %></p>

<h1>All matches</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Starttime</th>
      <th>Player1</th>
      <th>Player2</th>
       <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.title %></td>
        <td><%= match.date %></td>
        <td><%= match.startTime %></td>
        <td><%= Player.find(match.player1_id).get_full_name %></td>
        <td><%= Player.find(match.player2_id).get_full_name %></td>
	<td><%= match.match_result %></td>
       
	 <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Upcoming matches</h1>

<table>
<thead>
    <tr>
      <th>Date</th>	
      <th>Start time</th>
      <th>Title</th>
      <th>Opponents</th>
      <th colspan="3"></th>
    </tr>
</thead>
  <tbody>
<%= Match.rank.find_each do |match| %>
      <tr>
	<td><%= match.date %></td>
        <td><%= match.startTime %></td>
	<td><%= match.title %></td>
	<td><%= Player.find(match.player1_id).get_full_name  + " vs. " + Player.find(match.player2_id).get_full_name %></td>
      </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path, class: "btn btn-lg btn-primary" %>
